<!doctype html>

<html>

<head></head>

<body>


<div id='call'></div>
<div id="controls">
    <button id="start">Start transcription</button>
    <button id="stop">Stop transcription</button>
</div>
<div id="transcript">

</div>

<script crossorigin src='https://unpkg.com/@daily-co/daily-js'></script>

<script>

const link = document.getElementById('link').value;

const callEl = document.querySelector('#call');

const callFrame = DailyIframe.createFrame(callEl, {

iframeStyle: { width: '100%', height: '90vh'}

})
callFrame.join({

url: '<%= Entering_ILink %>',
token: "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJvIjp0cnVlLCJkIjoiMzQ5OWNiOWUtYTgyMi00NzdkLTg0OWUtODg4NmE4NzEyYTJmIiwiaWF0IjoxNzA4ODU3MDcyfQ.t4w0Z5efZvj4skeGa7FBHxG64CegFkL8_G8mGR6W2mU"

})

document.querySelector('#start').addEventListener('click',()=>
{
    callFrame.startTranscription()
})

callFrame.on('app-message',message=>{
    if(message?.fromId === 'transcription' && message.data?.is_final)
    {
        const p = document.createElement('p');
        p.textContent = `${message.data.user_name}: ${message.data.text}`
        document.querySelector('#transcript').appendChild(p)
    }
})
</script>

</body>

</html>